// Custom variable overrides go here
// For options, see node_modules/bootstrap/scss/_variables.scss
// examples:
// $body-bg: black;
// $body-color: white;
// $link-hover-color: grey;
// $font-family-sans-serif: "Helvetica Neue";

// Import Bootstrap styles
@import "../../node_modules/bootstrap/scss/bootstrap";

// Import partials here

.nav-link:hover {
  text-decoration: underline;
}

.jumbotron {
  background-image: url(../media/pirate-ship.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

h1, h2 {
  font-family: 'Germania One', cursive;
}

.lead, h1 {
  text-align: center;
  color: white;
}

.lead, h5 {
  font-family: 'Merriweather', serif;
}

.page-footer {
  background-color: #D3D3D3;
}

footer {
  text-align: center;
}

img {
  height: 200px;
}
